  /*  RCM WEBSITE V7 CUSTOM CSS - David Rees - 2016
   ---------------------------------------------
Contents

1. Colours
2. Grid 
*/



/* 1. Colours
 ---------
*/

.grey-20-back {
  background-color: #f3f3f3;
}

.study-foldout {
  background-color: #bde3e1 !important;
}

.whatson-foldout {
  background-color: #dfd2f0 !important;
}

.getinvolved-foldout {
    background-color: #d0e2f5 !important;
}

.alert {
  background-color: #fde141 !important;
}

.rcmred-background {
    background-color: #c5003e !important;
    color: #fff;

}


/* Icon Colours */

.icon-social-facebook:before { color: #0b1e62} /* '?' */
.icon-social-instagram:before { color: #5c068c; } /* '?' */
.icon-social-linkedin:before { color: #0287cb;} /* '?' */
.icon-social-twitter:before { color: #0287cb } /* '?' */
.icon-social-youtube:before { color: #c5003e;} /* '?' */ 



/* 2. Grid
 ---------
*/

/* Assuming 100% width images width for now. */

img {
  width: 100%;
}

/* Outside frame and vertical spacing */
  


@media screen and ( max-width: 549px ){  
  .row .row {
    margin: 0 -0.5rem;
    }
}
/*
@media screen and (min-width: 550px) and ( max-width: 999px ){  
  .row .row {
    margin: 0 0.25rem;
    }
    
    .feature-box-row {
      margin: 0rem !important;
    }
    
}
*/

.master-container {
  margin: 0 auto;
}

#navbar {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  top:0;
  background-color: #fff;
}



@media screen and ( min-width: 1024px ){ 
.master-container {
  max-width: 120rem;
  }
  

  .add-gutter {
    padding: 0 1rem;
  }
  
.row, #navbar {
  max-width: inherit;
  margin:0 auto;
}

} 


/* Equalizing Margins for content grid */
.row {
  margin: 0 0.5rem;
}

@media screen and ( min-width: 550px ){ 
.row{
   margin-left: 0;
  margin-right: 0;
  }
  
  #nav-container{
    margin: 0;
    padding: 0;
  }
  
  .row {
  max-width: 550px;
  margin: 0 auto;
  display: block;
}

.hero {
  max-width: 550px;
  margin: 0 auto;
  display: block;
  margin-bottom: 0.75rem;
}

} 

@media screen and ( min-width: 1024px ) { 
  .row {
    margin-left: -0.625rem;
    margin-right:  1.875rem;
    max-width: none;
    }
    .hero{
      max-width: none;
      display: block;
}
}

@media screen and ( min-width: 1466px ){ 
  .row {
    margin-left: -1.25rem;
    margin-right:  3.75rem;
    max-width: none;
    }
}





/* 2.  Vertical Spacing
 ---------
*/





















@media screen and ( min-width: 1024px ){ 
  .tertiary-menu {
    margin-bottom: 0.75rem;
  }
  
  .header-spacer {
    margin-top: 45px;
    margin-bottom: 14px;
  }
  
  .tertiary-right {
    margin-top: -33px;
  }
  
  .blue-border-full {
    margin-bottom: 0;
  }
  
  

}

@media screen and ( min-width: 1324px ){ 

  .header-spacer {
    margin-top: 48px
    margin-bottom: none;
  }
  
    .detail-hero {
    margin-top: -18px;
  }
  
    .tertiary-right {
    margin-top: -50px;
  }
  
}



.link-hero img {
  margin-bottom: 0;
}

.hero-with-text-fixed img{
  margin-bottom: 0;
}



.use-medium {
    font-family: 'Futura PT W01 Medium', Helvetica, Roboto, Arial, sans-serif;
}

/* Size 1 */

a, .underline {
  display: inline;
  border-bottom: 1px solid #000;
}

p {
  margin: 0rem 0 1rem 0;
}

h1, .h1 {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

h1 a, .h1 a {
  border-bottom: 3px solid #000;
}

h2, .h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-family: 'Futura PT W01 Book', Helvetica, Roboto, Arial, sans-serif;
}

h3, .h3 {
  font-size: 1.25rem;
  line-height: 2rem;
}

h4, .h4 {
  font-size: 1.125rem;
  line-height: 1.625rem;
}

p, li {
  font-size: 1rem;
  line-height: 1.5rem; 
}

.index-title {
  font-size: 1.375rem;
  line-height: 2.125rem;  
  font-family: 'Futura PT W01 Medium', Helvetica, Roboto, Arial, sans-serif;
}

.feature-title {
  font-size: 1.375rem;
  line-height: 2.125rem;  
  font-family: 'Futura PT W01 Medium', Helvetica, Roboto, Arial, sans-serif;
}

.quote {
  font-size: 1.125rem;
  line-height: 1.625rem;  
  font-family: 'Futura PT W01 Medium', Helvetica, Roboto, Arial, sans-serif;
  text-align: center;
}

@media screen and ( min-width: 1024px )  { 
  h1, .h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    
  }
  
  h2, .h2 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    font-family: 'Futura PT W01 Book', Helvetica, Roboto, Arial, sans-serif;
  }
  
  h3, .h3 {
    font-size: 1.375rem;
    line-height: 2.25rem;
  }
  
  h4, .h4 {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  
  p, li {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
  
  .index-title {
    font-size: 1.375rem;
    line-height: 2.125rem;  
    font-family: 'Futura PT W01 Medium', Helvetica, Roboto, Arial, sans-serif;
  }
  
  .feature-title {
    font-size: 1.75rem;
    line-height: 2.75rem;  
    font-family: 'Futura PT W01 Medium', Helvetica, Roboto, Arial, sans-serif;
  }
  
  .quote {
    font-size: 1.5rem;
    line-height: 1.625rem;  
    font-family: 'Futura PT W01 Medium', Helvetica, Roboto, Arial, sans-serif;
  }
}

@media screen and ( min-width: 1324px )  { 
  h1, .h1 {
    font-size: 2.5rem;
    line-height: 3.875rem;
  }
  
  h2, .h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-family: 'Futura PT W01 Book', Helvetica, Roboto, Arial, sans-serif;
  }
  
  h3, .h3 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
  
  h4, .h4 {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  
  p, li {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
  
  .index-title {
    font-size: 1.5rem;
    line-height: 2.25rem;  
    font-family: 'Futura PT W01 Medium', Helvetica, Roboto, Arial, sans-serif;
  }
  
  .feature-title {
    font-size: 2rem;
    line-height: 3rem;  
    font-family: 'Futura PT W01 Medium', Helvetica, Roboto, Arial, sans-serif;
  }
  
  .quote {
    font-size: 1.5rem;
    line-height: 1.625rem;  
    font-family: 'Futura PT W01 Medium', Helvetica, Roboto, Arial, sans-serif;
    
  }
}

/* vertical spacing */

/* There are two main spacings - paragraph spacing (1.25rem at all sizes and block spacing - 45, 60 and 68) */



p, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, img, .blue-border-full, .link-hero, .study-foldout, .alert,  .alert-row, .link-boxes-row, .concertina-last{
  margin-bottom: 1.25rem;
}





.paragraph-topup, .feature-box-row, .alert-row, .link-boxes-row, .concertina-last, .carousel-row, .detail-hero, .inline-image, .inline-video  {
  margin-bottom: 2.75rem !important;
}

.iline-image img {
  margin-bottom: 0;
}

h3, .h3 {
  margin-bottom: 0rem;
}

.main-page-content ul {
  margin-top: -1rem;
  margin-bottom: 1.25rem; 
}

.main-page-content li {
  margin-bottom: 0.25rem;
}

.homeevents-topbar h2 {
  margin-bottom: 0.75rem;
}

.homeevents-panel img {
  margin-bottom: 0.3rem;
}

.homeevents-panel .index-title {
  margin-bottom: 0.75rem;
}


@media screen and (min-width: 1024px){ 
  
.paragraph-topup, .feature-box-row, .alert-row, .link-boxes-row, .concertina-last, .carousel-row, .detail-hero, .inline-image, .inline-video   {
  margin-bottom:  3.25rem !important;
}

.summary-p-last {
  margin-bottom: 0;
}


.link-hero {
  margin-bottom: 0;
}

  
  h3, .h3 {
  margin-bottom: 0.3rem;
}

.blue-border-full {
  margin-bottom: 0;
}

.main-page-content .index-title {
  margin-top: -0.5rem;
}

.quote {
  margin-bottom: 1.75rem;
}

.homeevents-topbar h2 {
  margin-bottom: 1rem;
}

.homeevents-panel img {
  margin-bottom: 0.5rem;
}




}

@media screen and (min-width: 1324px){ 
  
.paragraph-topup, .feature-box-row, .alert-row, .link-boxes-row, .concertina-last, .carousel-row, .detail-hero, .inline-image, .inline-video  {
 margin-bottom:  3.875rem !important;
}

  h3, .h3 {
    margin-bottom: 1rem;
  }

.homeevents-topbar h2 {
  margin-bottom: 1.25rem;
}

.homeevents-panel .index-title {
  margin-bottom: 1rem;
}08
}



/* 4 - Buttons, HRs */

.hr-above {
border-top: 0.0625rem solid #7cc8c5;
}

.hr-below {
  border-bottom: 0.0625rem solid #7cc8c5;  
}

.button {
  border-bottom: none;
  margin-bottom: 0rem;}

@media screen and (max-width: 1023px){ 
  .button {
  width: 100%;
  }
  
  .detail-hero {

  max-width: none;
}

.navbar-open {
  height:480px;
}
}

.button {
  border: 0.0625rem solid #c5003e;
  text-align: center;
  padding: 1rem;
  min-height: 2.75rem;
  line-height: 1.25rem;
  color: #000;
}

.button:hover, .button-2:hover {
  background-color: #c5003e;
  color: #fff;
  
}


.in-page-button {
  background-color: #f6d8e1;
  color: #c5003e;
  text-align: left;
  border: none;
}

.right-hand-menu-button {
  margin:0 0 1px 0;
  width:100%;
  font
}


#in-page-links > ul > li, #in-page-links > li {
  margin-bottom: 1px;
}


/* Search and Nav Overlays */

@media screen and ( max-width: 1023px ){ 

.mobile-menu-overlay:after {
    position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.6;
  background-color: #000000;
  }
}

@media screen and ( min-width: 1024px ){ 

.menu-overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.6;
  background-color: #000000;
}



.study-overlay:after {
  opacity:0.7;
  background-color: #007377;
}

.whatson-overlay:after {
  opacity:0.7;
  background-color: #5c068c;
}

.getinvolved-overlay:after {
  opacity:0.7;
  background-color: #00205b;
}
}








@media screen and ( min-width: 1024px ){ 

.dynamic-hero {

  content: ' ';
  width: 100%;
  max-width: 1556px;
  height: 875px;
  margin:0 auto;
  background-color: white;
  will-change: transform;
  z-index: 0;
}



}

#search-overlay {
  display: none;
    position:fixed;
    top:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color: #c5003e;
    opacity: 0.6;
    display:none;


}


#search-wrapper {
  display: none;
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  width:80%;
}

  
#search-input {
  height: 5rem;
  opacity: 1 !important;
  z-index: 1001;
  width:100%;
  font-size: 1.5rem;
}

.search-icon, .search-cross {
  font-size: 1.5rem;
  color: #fff;
}



.mobile-overlay-on, .menu-on  {
  display: block;
}

@media screen and ( min-width: 1024px )  { 
  .search-icon, .search-cross, #search-input {
  font-size: 1.75rem;
 
}
  
  }


@media screen and ( min-width: 1324px )  { 
    .search-icon, .search-cross, #search-input {
  font-size: 2.5rem;
 
}
  
  }

/* Navigation Colours */



/* Navigation */
#nav-panel {
  height: 3.75rem;
  
  top:0;
  width: 100%;
  background-color: #fff;
  padding: 0 1rem;
  z-index: 1000;
max-width: 550px;
margin: 0 auto;
  }
  
  
  
  
  

/* changes for small beyond 550px */
  
@media screen and ( min-width: 550px ){ 

  #nav-container, #nav-panel{

    padding: 0 0.5rem;
  }
  
  .detail-hero {

    width: 100%
  }
  
} 

#content-panel {
  margin-top: 3.75rem;
  z-index: -100;
  width: 100%;
  position:absolute;
  max-width: 1556px;
}

#logo-content, #menu-content, #content {
 margin:0 auto
}

#mobile-logo {
  width: 13.5rem;
  margin-top: 0.5rem;  
}

#vert-logo {
  display: none;
}

.mobile-toggle, .primary-close, .secondary-close{
  font-size: 1.875rem;
  margin-top: 0.925rem;
}

#secondary-close{
  margin-right: 1rem;
}


#mobile-topbar {
  height: 5rem;
  background-color: #bde3e1;
  position: fixed;
  top:0;
  right:0;
  z-index: 1002;
  display: none;
  width:85%;
  }
  
@media screen and ( max-width: 1023px ){ 
  .mobile-topbar-on{
    display: block !important;
  }
  
  .grey-border-full {
  border-bottom: 3px solid #c6c6c6;
  }
  
  .blue-border-full {
    border-bottom: 3px solid #38a8aa;
  }

}
  

  .icon-arrow-right {
    margin-right: 1rem;
    display: block;
  }


#primary-nav > li > a {
  padding: 0.7rem 0;
  line-height: 2.625rem;
  padding: 0;
}

  #primary-nav > li > ul > li > ul{
    display: none;
  }
  
  #primary-nav > li > ul::before{
     content: none;
  }


.top-3-menu, .tertiary-menu {
  font-family: 'Futura PT W01 Medium', Helvetica, Roboto, Arial, sans-serif;
  }
  

#primary-nav > li > ul {
  background-color: #bde3e1;
  width: 85%;
  opacity: 1;
  z-index: 1001;
  position: fixed;
  top: 0;
  right:0;
  display: none;
  height: 100%;
  padding-top: 5rem;
  

  -webkit-box-shadow: -5px 0px 5px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -5px 0px 5px 1px rgba(0,0,0,0.15);
  box-shadow: -5px 0px 5px 1px rgba(0,0,0,0.15);  
  padding: 5rem 2.25rem 0 2.25rem;
  max-height: 100%;
  overflow-y: scroll 
  }

@media screen and ( min-width: 550px ){ 

#primary-nav > li > ul {
  width: 400px;
  margin-left: 150px;
  opacity: 1;
  z-index: 1001;
  position: fixed;
  top: 0;
  right:inherit;
  
  }


#mobile-topbar {
  height: 5rem;
  background-color: #bde3e1;
  position: fixed;
  top:0;
  z-index: 1002;
  width: 400px;
  display: none;
  right: inherit;
  margin-left: 150px
  }
}

.menu > li {
    line-height: 2.635rem;
}
.menu > li > a {
  font-size: 1.25rem;
line-height: 2.635rem;
  padding: 0 1rem 0 1rem;
  border: none;
}

#nav-container {

background-color: #fff;
max-width: 550px;
position:fixed;
display: none;
width: 100%;

padding: 1.75rem 1rem 0 1rem;
}

@media screen and ( max-width: 550px ) {
#nav-container {

left:0;
}
}

.mobile-overlay-on, .menu-on  {
  display: block !important;
}

.primary-close, .secondary-close {
  position: relative;
  z-index: 2000;
}

.tertiary-menu {
padding-left:0;
padding-right:0;

}

.tertiary-menu > li > a {
  padding: 0 !important ;
}

.menu-highlight a {
  color: #38a8aa;

}

.tertiary-border {
    border-bottom: 1px solid #38a8aa !important;
}

.active {
  color: #38a8aa;
}

@media screen and ( min-width: 1024px ){ 
  
  #primary-nav > li > ul {
    overflow-y: none;
  }
  
  .menu-highlight{
  border-bottom: 1px solid #38a8aa;
}

.tertiary-menu {
    border-bottom: 1px solid #38a8aa;
}
}

.full-width-blue-border {
   border-bottom: 3px solid #38a8aa;
}


/* S2 changes */


@media screen and ( min-width: 1024px ){
  
  #nav-panel {
    max-width: 365px;
  }
  
  
  
  #primary-nav > li > ul {

  overflow-y: hidden;
  }
  
  #nav-container {
    position: static;
  }
  
.mobile-overlay-on {
  display: none !important;
}

.menu > li > a {
  font-size: 1rem;
  line-height: 2rem;
  padding: 0 1rem 0 1rem;
}

#primary-nav > li > a {
  font-size: 1rem;
  line-height: 2rem;
}

#primary-nav > li > ul > li > ul > li {
  line-height: 2.125rem;
}
  
.overlay-on  {
  display: block !important;
}

  
  .mobile-menu-on {
  display: block;
}
  
  #primary-nav > li > ul > li > ul{
    display: inherit;
  }
  
  #menu-overlay {
    max-width: inherit;
  }
  
  #nav-container {
    display: block;
  }

  #mobile-topbar {
    display: none;
  }

  #nav-panel {
    width: 19%;
    position: fixed;
    top: 0;
    left:0;
    max-width: none;
    height:auto;
    border: none;
    height: 100%;
  }
  
  
  #vert-logo {
  display:block;
  width:5.5rem;
  margin-left: auto;
  margin-right: auto;
  }

  #mobile-logo {
    display: none;
  }
  

  #content-panel {
    width:81%;
    margin-left: 19%;
    margin-top: 0;

  }
  
  
  
  #content, #drop-down-bar {
    max-width: inherit
  }
  
  .menu>li>.icon-arrow-right {
   display: none;
  }
  
  #main-menu {
    background-color: #fff;
    display: block;
    width: 5.5rem;
    margin: 0 auto;
    padding-left: 0.44rem;
    position: fixed;
    bottom: 0.625rem; 
  }

  #primary-nav > li > ul {
    position: fixed;
    left: 19%;
    background-color: #bde3e1;
    width: 18rem;
    height: 100%;
    opacity: 1;
    z-index: 1001;
    margin-left: 0;
    margin-top: 0;
    padding: 2.75rem 2.25rem 0 2.25rem;
  }
  
  #primary-nav {
  position: fixed;

  }
  
  #nav-container {
    width: 5.5rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0.44rem;
  }  
  
  .desktop-spacer {
    margin-top: 0.875rem; 
  }
}

@media screen  and (min-width: 1024px ){
  #primary-nav > li > a {
    font-size: 1.25rem;
    line-height: 2.125rem;  
  }
  
  .menu > li > a, .menu  {
  font-size: 1.25rem;
  line-height: 2.125rem;
  padding: 0 1rem 0 1rem;
}

.tertiary-menu > .li > .currentbranch0 > a {
    font-size: 1.25rem;
  line-height: 2.125rem;
  color: #38a8aa; 
}
  
    #primary-nav > li > ul {
    position: fixed;
    top: 0;
    left: 19%;
    background-color: #bde3e1;

    height: 100%;
    opacity: 1;
    z-index: 1001;
    margin-left: 0;
    margin-top: 0;
    padding: 4.3rem 2.25rem 0 2.25rem;
    
  }
    
  #nav-container {
    width: 6.7rem;
    padding-left: 0.56rem;  
  }
  
  .menu-spacer {
    margin-bottom: 0.625rem;
  }
  
  #vert-logo {
    width: 6.7rem;

  }
  .desktop-spacer {
    margin-top: 2.25rem; 
  }
  
}

/* Changes for s3 */

@media screen and (min-width: 1324px ){ 
  
   #vert-logo {
  width: 8.36rem;

  }
  
  #nav-container {
    width: 8.36rem;
    padding-left: 0.69rem;
  }
  
    
    #primary-nav > li > ul {
    position: fixed;
    top: 0;
    left: 19%;
    background-color: #bde3e1;
 
    height: 100%;
    opacity: 1;
    z-index: 1001;
    margin-left: 0;
    margin-top: 0;
    padding: 5.3rem 2.25rem 0 2.25rem;
    
  }
  
    .desktop-spacer {
  margin-top: 2.25rem; 
  }
  
  .desktop-spacer {
  margin-top: 3.5rem;
  }
  
  #nav-container {
  position: static;
  margin-top: 4.375rem;
  }
  
  #primary-nav {
    position: static;
  }  
  
    
    #primary-nav > li > ul {
    position: fixed;
    top: 0;
    left: 19%;
    background-color: #dcdcdc;
    height: 100%;
    opacity: 1;
    z-index: 1001;
    margin-left: 0;
    margin-top: 0;
    padding: 6.3rem 2.25rem 0 2.25rem;
    
  }
    
}



/* Detail Page */

@media screen and (min-width: 1324px ) { 
.main-page-content { 
  margin-left: 8.3333333333%  
}
}




/* Concertina */

.concertina {
  border-top: 1px solid #000;

}

.concertina-title {
  margin: 0.5rem 0;
}

.concertina-titlebar {
    cursor: pointer;
}

.concertina-last{
  border-bottom: 1px solid #000;
  margin-bottom: 1rem;
}

.concertina-content {
  display: none;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.concertina-titlebar .icon-arrow-down, .concertina-titlebar .icon-arrow-down {
 
  font-size: 1.5rem;
}

.conertina-toggle {
  margin-top: 0.375rem; 
}


@media screen and (min-width: 1024px ){
.concertina-title {
  margin: 0.75rem 0;
}

}

@media screen and (min-width: 1324px ){
.concertina-content {
  display: none;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}


}


/* Course Page */

.content-box {
  margin-bottom: 1px;
}

.content-box p {
  margin: 0;
}

.owl-icons {
  font-size: 1.5rem;
  margin-top:0.75rem;
}

@media screen and (min-width: 1024px ){
.owl-icons {
  font-size: 2rem;
  margin-top:0.75rem;
}
}



.owl-icons i {
  margin-right:0;
  margin-left:0;
  cursor: pointer;
}

.gallery-arrows {
  position: relative;
  top: -55px;
  background-color: #fff;
}

.gallery-left, .gallery-right {
  background-color: #fff;
}

.gallery-item img {
  margin-bottom: 0.25rem;
}



/* Feature Boxes */


.feature-box {
 


}

.feature-box img {
  margin-bottom:  0.5rem;
}

.feature-box-inner {
 background-color:  #bde3e1 !important;
padding: 1rem;
}

.alert-box-inner {
  background-color: #fde141 !important;

 padding-top: 1rem;
 padding-bottom: 1rem;
}

.alert-box-inner a, .feature-box-inner a {
  margin-bottom: 0rem;
}



@media screen and (min-width: 1024px ){
  .feature-box {
    
margin-left: 1rem;
margin-right: 0rem;
  }
  


.alert-box-inner {


padding: 1rem;
padding-top: 1.25rem;
}

.feature-box-inner {


padding: 1.625rem 1.625rem 0.325rem
}





}

@media screen and (min-width: 1324px ){
  .feature-box-content {
    margin-left: 8.3333333333%;
    margin-right: 8.3333333333%;
  }
  .feature-box-inner {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1.5rem;
  }
  
  .feature-box-inner img {
    padding: 0 1.625rem;
  }
}

.flex-video {
  margin: 0rem -0.5rem;
 
}

@media screen and (min-width: 550px ){
  .flex-video {
    margin: 0;
  }
}


.quote-block {
  margin: 4rem 0;
}

.quote-author {
  text-align: center;
}

/* Heroes */

.hero-with-text-fixed {
  position: relative;


  
}

.hero-with-text-fixed:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.15;
  background-color: #000;

}



.hero-overlay-text {
  color: #fff;
position: absolute;
top: 0;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
margin-top:0.5rem;
z-index: 1000000;
text-align: center;
width: 75%;

}

.hero-overlay-caption{
  color: #fff;
position: absolute;
bottom: 40%;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
z-index: 1000001;
text-align: center;
width: 75%;

display: none;

}

.morefromthercm {
  padding: 1rem;
}


.hero-overlay-text > a {
  color: #fff !important;
  border-bottom-color: #fff !important;
}

.link-hero {
  cursor: pointer;
}


@media screen  and (min-width: 1024px ){
  .hero-with-text-fixed {
  position: relative;
  max-width: none;
  margin: 0 auto;


}

.hero-with-text-overlay:after {
  opacity:0.95;
  background-color: #c5003e;  
}


.hero-overlay-text {
    margin-top: 0.75rem;
}
}

@media screen and (min-width: 1324) {
  .hero-overlay-text {
    margin-top: 1rem;
}
}


/* Twitter Box */




.twitter-with-text-fixed {
  position: relative;
  max-width: 550px;
  margin: 0 auto;
}


@media screen and ( min-width: 1024px )  {
  
.twitter-with-text-fixed {

  max-width: none;

}

  }

.twitter-overlay-text {
  padding: 1rem;
  color: #fff;
position: absolute;
top: 0;
z-index: 1000000;

}

.twitter-box ul {
  margin-left: 0;
  list-style-type: none;
}

.twitter-box .user, .twitter-box .interact , .twitter-box .timePosted {
  display: none;
}

.twitter-box  .tweet, .twitter-box  .tweet a {
  color: #fff;
}

.twitter-box .tweet a {
  border-bottom-color: #fff;
}

.twitter-box .tweet{
  padding: 1rem;
  color: #fff;
position: absolute;
bottom: 0;
z-index: 1000001;
text-align: left;
margin-bottom: 0;
}

.twitter-box:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.4;
  background-color: #000;
}


.twitter-overlay-caption{
  color: #fff;
position: absolute;
bottom: 0;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
text-align: left;
width: 75%;
margin-bottom: 5.5rem;
}


/* Footer */

#footer, #footer a, .newsletter-button {
  color: #706f6f;
  border-bottom-color: #706f6f
}

#footer a:hover{
  border-bottom-color: #c5003e;
}

#footer {
  margin-bottom: 1.25rem;
}


#newsletter-signup {
  border-bottom: 0.0625rem solid #c5003e;
  border-bottom-color: #c5003e;
}

#footer-border {
  height:0px;
  border-top: 0.1875rem solid #c6c6c6;
  margin-bottom: 1.25rem;
}

#footer-border {
  margin-top: 1.25rem;
}

.footer-document-logo {
  width: 1.25rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

#address-block, #contact-block {
  margin-bottom: 0.8125rem;
}

#footer p {
  line-height: 1.5rem;
  margin-bottom: 0;
  margin: 0;
}

.newsletter-button:hover {
  background-color: #c5003e;
  color: #fff !important;  
}

.social-icons {
  font-size: 2.8675rem;
  padding: 0 !important;
  margin: 0 !important;
}

#social-icons > a{
  border-bottom: none;
  
}

#social-icons  {

  display: flex;
  justify-content: space-between;
  
}

@media screen and ( min-width: 1024px ) {
  #footer-border, #footer {
    margin-bottom: 2.25rem;
  }
  
  #footer-border {
    margin-top: 2.5rem;
  }
  

  #footer p {
  line-height: 1.625rem;
  margin-bottom: 0;
  font-size: 1.125rem;
  }
  
  #footer-links p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .newsletter-button {
    font-size: 1.125rem;
  }
}


/* hide social icons for now */

#social-icons {
  display: none;
}








