
img {
  width: 100%;
}

.small-vertical-nav {
  display: none;
  }

.large-vertical-nav {
  display: block;
}

@media screen and ( max-height: 769px ){
    .small-vertical-nav {
      display: block
    }
    
    .large-vertical-nav {
      display: none;
    }
}


.columns, .hero {
  margin-bottom: 1rem;
}



