/*  RCM WEBSITE V7 CUSTOM CSS - David Rees - 2016
   ---------------------------------------------
Contents

1. Grid 
*/

/* 1. Grid
 ---------
*/

/* Assuming 100% width images width for now. */

img {
  width: 100%;
}

/* Outside frame and vertical spacing */
  
.columns, .hero {
  margin-bottom: 20px;
}

.master-columns {
  float: left;
}

.master-container {
  max-width: 1920px;
}

/* Creating Two Different Vertical Navs for different screens */

.small-vertical-nav {
  display: block;
}

.large-vertical-nav {
  display: none;
}

@media screen and ( min-height: 601px ){
    .small-vertical-nav {
      display: none;
    }
    
    .large-vertical-nav {
      display: block;
    }
}

/* Equalizing Margins for content grid */

@media screen and ( min-width: 1024px ){ 
  .row {
  margin-left: -0.625rem;
  margin-right:  1.875rem;
  }
  
  .master-menu {
  width: 19%;
}

.master-content {
  width:81%;
}

}






