
.icon-arrow-down:before { content: '\e800'; } /* '' */
.icon-arrow-left:before { content: '\e801'; } /* '' */
.icon-arrow-right:before { content: '\e802'; } /* '' */
.icon-arrow-up:before { content: '\e803'; } /* '' */
.icon-audio-off:before { content: '\e804'; } /* '' */
.icon-audio-on:before { content: '\e805'; } /* '' */
.icon-cross:before { content: '\e806'; } /* '' */
.icon-menu-five:before { content: '\e807'; } /* '' */
.icon-menu-three:before { content: '\e808'; } /* '' */
.icon-play:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-social-facebook:before { content: '\e80b'; } /* '' */
.icon-social-instagram:before { content: '\e80c'; } /* '' */
.icon-social-linkedin:before { content: '\e80d'; } /* '' */
.icon-social-twitter:before { content: '\e80e'; } /* '' */
.icon-social-youtube:before { content: '\e80f'; } /* '' */