
.icon-arrow-left:before { content: '\e80f'; } /* '' */
.icon-arrow-right:before { content: '\e810'; } /* '' */
.icon-audio-off:before { content: '\e812'; } /* '' */
.icon-audio-on:before { content: '\e813'; } /* '' */
.icon-cross:before { content: '\e814'; } /* '' */
.icon-play:before { content: '\e817'; } /* '' */
.icon-search-1:before { content: '\e818'; } /* '' */
.icon-social-facebook:before { content: '\e819'; } /* '' */
.icon-social-instagram:before { content: '\e81a'; } /* '' */
.icon-social-linkedin:before { content: '\e81b'; } /* '' */
.icon-social-twitter:before { content: '\e81c'; } /* '' */
.icon-social-youtube:before { content: '\e81d'; } /* '' */
.icon-arrow-down:before { content: '\e821'; } /* '' */
.icon-arrow-up:before { content: '\e822'; } /* '' */
.icon-menu-five:before { content: '\e823'; } /* '' */
.icon-menu-three:before { content: '\e824'; } /* '' */